.todo-form-container {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.todo-form-input {
  width: 200px;
  height: 60%;
  padding: 15px;
  font-size: 15px;
  border: none;
  outline: 0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.todo-form-input:focus {
  background: #ebebeb;
  width: 500px;
  height: 60%;
  font-size: 20px;
}

.todo-form-button {
  width: 15%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #ebebeb;
  background: #2196f3;
  border: none;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.todo-form-button:active {
  transform: scale(0.98);
  background: #3fa3f5;
  box-shadow: 0 0 10px #2196f3;
}