.todo-item-container {
  width: 98%;
  min-height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.199);
  animation: todoItemAnimate 0.2s alternate;
}

@keyframes todoItemAnimate {
  from {
    width: 60%;
    min-height: 15%;
  }
  to {
    width: 98%;
    min-height: 20%;
  }
}

.todo-item-input-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 15px;
}

.todo-item-input {
  width: 30px;
  height: 30px;
}

.todo-item-text {
  font-size: 30px;
  color: #2196f3;
  font-weight: bold;
  letter-spacing: 1px;
}

.todo-item-button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: #ebebeb;
  font-size: 28px;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.todo-item-button:active {
  transform: scale(0.98);
  background: rgb(255, 40, 40);
  box-shadow: 0 0 10px red;
}

.todo-item-button:hover > .close-icon {
  animation: closeAnimate 0.3s alternate;
}

@keyframes closeAnimate {
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


