.todo-list-container {
  width: 95%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  gap: 15px;
  padding: 15px 0;
  border-radius: 25px;
  background: rgba(135, 207, 235, 0.08);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.226);
}